@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 80.7 13.6% 97.1%;
    --foreground: 30.2 9.8% 30%;
    --card: 80.7 13.6% 97.1%;
    --card-foreground: 30.2 9.8% 30%;
    --popover: 80.7 13.6% 97.1%;
    --popover-foreground: 30.2 9.8% 30%;
    --primary: 144.2 38.8% 52.3%;
    --primary-foreground: 0 0% 100%;
    --secondary: 147.6 28.6% 95.7%;
    --secondary-foreground: 144.3 31.8% 42.5%;
    --muted: 74.4 15% 93.7%;
    --muted-foreground: 39.2 9.1% 45%;
    --accent: 146 32.5% 89.5%;
    --accent-foreground: 144.3 31.8% 42.5%;
    --destructive: 26.7 54.3% 53.9%;
    --destructive-foreground: 0 0% 100%;
    --border: 74.6 17.5% 88.1%;
    --input: 74.6 17.5% 88.1%;
    --ring: 144.2 38.8% 52.3%;
    --radius: 0.7rem;
    --chart-1: 144.2 45.4% 67.3%;
    --chart-2: 144.2 38.8% 57.5%;
    --chart-3: 144.2 38.8% 52.3%;
    --chart-4: 144.3 31.8% 42.5%;
    --chart-5: 145.7 15.8% 21.6%;
    --sidebar-background: 74.4 15% 93.7%;
    --sidebar-foreground: 30.2 9.8% 30%;
    --sidebar-primary: 144.2 38.8% 52.3%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 146 32.5% 89.5%;
    --sidebar-accent-foreground: 144.3 31.8% 42.5%;
    --sidebar-border: 74.6 17.5% 88.1%;
    --sidebar-ring: 144.2 38.8% 52.3%;
  }
  .dark {
    --background: 150.8 8.4% 26.8%;
    --foreground: 72.7 12.8% 94.2%;
    --card: 147 6.7% 33.3%;
    --card-foreground: 72.7 12.8% 94.2%;
    --popover: 147 6.7% 33.3%;
    --popover-foreground: 72.7 12.8% 94.2%;
    --primary: 144.2 45.4% 67.3%;
    --primary-foreground: 145.7 15.8% 21.6%;
    --secondary: 143 5.5% 39.4%;
    --secondary-foreground: 142.6 13.9% 89.7%;
    --muted: 147 6.7% 33.3%;
    --muted-foreground: 76.1 14.1% 85.8%;
    --accent: 144.2 38.8% 57.5%;
    --accent-foreground: 72.7 12.8% 94.2%;
    --destructive: 26.7 54.3% 53.9%;
    --destructive-foreground: 72.7 12.8% 94.2%;
    --border: 143 5.5% 39.4%;
    --input: 143 5.5% 39.4%;
    --ring: 144.2 45.4% 67.3%;
    --chart-1: 145.3 47.2% 76.6%;
    --chart-2: 144.9 50.1% 71.9%;
    --chart-3: 144.2 45.4% 67.3%;
    --chart-4: 144.2 48.7% 62.9%;
    --chart-5: 144.2 38.8% 57.5%;
    --sidebar-background: 150.8 8.4% 26.8%;
    --sidebar-foreground: 72.7 12.8% 94.2%;
    --sidebar-primary: 144.2 45.4% 67.3%;
    --sidebar-primary-foreground: 145.7 15.8% 21.6%;
    --sidebar-accent: 144.2 38.8% 57.5%;
    --sidebar-accent-foreground: 72.7 12.8% 94.2%;
    --sidebar-border: 143 5.5% 39.4%;
    --sidebar-ring: 144.2 45.4% 67.3%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
